*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.post{
    width: 700px;
    height: 500px;
    background-color: rgba(90, 234, 219, 0.703);
    margin-top: 40px;
    margin-left: 300px;
    border-radius: 5px;
}
.post img{
    width: 230px;
    height: 310px;
    margin-left: 120px;
    margin-top: 90px;
    border-radius: 5px;
}
.post h2{
    margin-left: 400px;
    margin-top: -260px;
    font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-weight: 900;
}
.post i{
    margin-left: 400px;
    margin-top: -200px;
    color: rgb(24, 3, 255);
    font-size: larger;
}
.post p{
    max-width: 60rem;
    margin-left: 400px;
    margin-top: -4  00px;
}
.post button{
    width: 93px;
    height: 23px;
    margin-left: 450px;
    
}
.post button:hover{
    background-color: black;
    color: white;
  font-size: larger;
  border: none;
  outline: none;
    
}